@model int

<div class="Container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-bg-danger-cecnter">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br /><br /><br />
        <img src="~/images/R.jpg" width="65%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed succssefully!
    </div>
</div>