
<h1>Category list</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Category Name 1
        </th>
        <th>
            Desplay Order
        </th>
    </tr>
</table>